@charset "UTF-8";

/*
    Paleta de Cores
    Roxo: #42208C
    Lilás: #202359
    Azul claro: #50D4F2
*/

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body, html {
    background-color: #42208C;
    height: 100vh;
    width: 100vw;
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;
}

section#login {
    background-color: white;
    width: 250px;
    height: 500px;
    overflow: hidden;
    border-radius: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.466);
}

section#login > div#imagem {
    display: block;
    background: #42208C url('../imagens/predio.jpg') no-repeat;
    background-size: cover;
    background-position: left top;
    height: 200px;
}

section#login > div#formulario {
    padding: 10px;
    display: block;
}